body{
	background-image: url("../images/stars.jpg");
	font-family: 'Space Mono', monospace;
	color: #00FF00;

}
h1, h2, h3{
	font-size: 18pt;
	color: #00FF00;
	text-align: center;
}
.character-div:hover{
	background: white;
}

.character-div {
	background: grey;
	margin: 5px;
	opacity: .8;
}

.character-images {
	width: 200px;
	
}


img {
	width: 250px;
/*	flex-shrink: 1;
	max-width: 100%;
	overflow: hidden;
	text-align: center;
	max-height: 
	border-style: solid;
	border-color: green;
	border-width: 2px;*/
}

@media screen and (max-width: 768px) {
	
	img {	
  	display: inline-block;
    max-width: 250px;
	overflow: hidden;
	text-align: center;

  }
